h1 {
    color: rgb(0, 0, 0);
}

/* * {
    border: solid;
} */

.header{
    background-color: rgb(184, 0, 190);
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
}

.site-description{
    display: flex;
    flex-direction: column;
    justify-content: first baseline;
}

.grid{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.footer{
    display: flex;
    justify-content: flex-end;
}

p,h2{
    text-align: center;
}

.menu{
    padding-right: 30px;
    padding-top: 30px;
    justify-content: space-between;
}